<section class="todoapp">
  <header class="header">
    <div class="container">
      <h1>My Day</h1>
      <p>All my tasks in one place</p>
      <input class="new-todo" placeholder="Type new todo" autofocus type="text" [formControl]="newTaskCtrl"
        (keydown.enter)="addTaskHandler()" />
    </div>
  </header>
  <div class="container todoapp-wrapper">
    <!-- This section should be hidden by default and shown when there are todos -->
    <!-- <pre>
        <code>{{ tasks() | json }}</code>
    </pre> -->
    <section class="main">
      <ul class="todo-list">

        @for (task of taskFiltered(); track $index) {
        <!-- <li [class]="(task.completed ? 'completed' : 'view')"> -->
        <li [class.completed]="task.completed" [class.editing]="task.editing"
          (dblclick)="editingMode($index, task.title)">
          <div class="view">
            <input class="toggle" type="checkbox" (click)="completeTaskHandler($index)" [checked]="task.completed" />
            <label>{{ task.title }}</label>
            <button class="destroy" (click)="removeTask($index)"></button>
          </div>
          <input class="edit" [formControl]="updateTaskCtrl" (keydown.enter)="updateTaskHandler($index)" />
        </li>
        }

      </ul>
    </section>
    <!-- This footer should be hidden by default and shown when there are todos -->
    <footer class="footer">
      <!-- This should be `0 items left` by default -->
      <span class="todo-count"><strong>{{ taskFiltered().length }} </strong>
        @if (taskFiltered().length === 1) { item left } @else { items left }
      </span>
      <!-- Remove this if you don't implement routing -->
      <ul class="filters">
        <li>
          <a (click)="changeFilter(TaskFilter.All)" [class.selected]="filter() === TaskFilter.All">All</a>
        </li>
        <li>
          <a (click)="changeFilter(TaskFilter.Pending)" [class.selected]="filter() === TaskFilter.Pending">Pending</a>
        </li>
        <li>
          <a (click)="changeFilter(TaskFilter.Completed)" [class.selected]="filter() === TaskFilter.Completed">Completed</a>
        </li>
      </ul>
      <!-- Hidden if no completed items are left ↓ -->
      <button class="clear-completed">Clear completed</button>
    </footer>
  </div>
</section>